<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <title>Single Page 2</title>
</head>

<body>
    <ul id="nav">
        <li><a href="" class="nav-link" data-page="first">First Page</a></li>
        <li><a href="" class="nav-link" data-page="second">Second Page</a></li>
        <li><a href="" class="nav-link" data-page="third">Third Page</a></li>
    </ul>
    <hr>
    <div id="body"></div>
</body>

</html>